<div class="acard" onClick="{{ a.open }}">
    <div class="cover {{ post.cover }}">
        <div class="grido"></div>
        <div class="covwm">{{ post.categories }}</div>
        <div class="covtag">{{ a.cat }}</div>
    </div>
    <div class="acbody">
        <div class="actitle">{{ a.title }}</div>
        <div class="acexc">{{ a.exc }}</div>
        <div class="acmeta"><span>{{ a.date }}</span><span class="dotsep"></span><span>{{ a.read
                }}</span>
        </div>
    </div>
</div>