<div class="acard" onClick="{{ a.open }}">
    <div class="cover {{ post.cover }}">
        <div class="grido"></div>
        <div class="covwm">{{ post.categories }}</div>
        <div class="covtag">{{ post.topic }}</div>
    </div>
    <div class="acbody">
        <div class="actitle">{{ post.title }}</div>
        <div class="acexc">{{ post.description }}</div>
        <div class="acmeta"><span>{{ post.date | date: "%Y-%m-%d" }}</span><span class="dotsep"></span><span>{{ post.read }}</span>
        </div>
    </div>
</div>