.hero {
    font-size: 3rem;
    text-align: center;
    color: red;
}

.hero {
    font-size: 3rem;
    text-align: center;
    color: #D30001;
}

hero {
    font-size: 3rem;
    text-align: center;
    color: red;
}

hero {
    font-size: 3rem;
    text-align: center;
    color: #D30001;
}